* {
	box-sizing: border-box;
}

body {
	position: relative;
	height: 2883px;
	background: #FFFFFF;
}

/* Style the header */
.header {

	box-sizing: border-box;
	width: 100%;
	height: 92px;
	background: #FCFCFC;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

/* Create three unequal columns that floats next to each other */
.column {
	float: left;
	padding: 10px;
}

/* Left and right column */
.column.side {
	width: 25%;
}

/* Middle column */
.column.middle {
	width: 50%;
}

.column.side2 {
	width: 33%;
}

/* Middle column */
.column.middle2 {
	width: 33%;
} 
/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Style the footer */
.footer {
	background-color: #f1f1f1;
	padding: 10px;
	text-align: center;
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.rounded-lg {
	border-radius: 1rem !important;
}

.text-small {
	font-size: 0.9rem !important;
}

.custom-separator {
	width: 5rem;
	height: 6px;
	border-radius: 1rem;
}

.text-uppercase {
	letter-spacing: 0.2em;
}

html, body {
	max-width: 100%;
	overflow-x: hidden;
}

#dhImage {
	position: relative;
	margin-left: 50px;
	width: 54px;
	height: 54px;
	background: url(273520304_108496788428018_6);
    margin-left: 10%;
	margin-top: 20px;
}

#LoginButton {
	position: relative;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	margin-left: 70%;
	width: 80px;
	color: #000000;
}

#RegisterButton {
	position: relative;
	width: 80px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
}

#pizzaImage {
	position: relative;
	width: 955px;
	background: url(image-LP-1.png);
	transform: rotate(-10deg);
	height: 800px;

}

.section1Text
{
	position: relative;
	padding-left: 10%;
}

.section1TextRight {
	position: relative;
}

.section1CheckMarkRight {
	position: relative;
}

.section1CheckMarkText {
	position: relative;
}

#DownloadAppText {
	position: relative;
}

#GoogleButton {
	position: relative;
	border: none;
}

#AppleButton {
	position: relative;
	border: none;
}

/* Section2 */
.section2Bg {
	position: relative;
	margin-top: 5%;
	height: 600px;
	width: 100%;
	background: #D9D9D9;
	opacity: 0.2;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
	.column.side, .column.middle {
		width: 100%;
	}
}