* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter";

}
/* Grid to split form and image */
.grid-container {
    display: grid;
    grid-template-columns: 55% auto;
}

.FoodImage {
    height: 100vh;
}

/* Flexbox for form */
.flexbox-container {
    display: flex;
    flex-direction: column;
}

.BF {
    /* BF */


    width: 60px;
    height: 58px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.Login {
    /* Login */


    width: 154px;
    height: 48px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

@media (max-width: 600px) {
    .flexbox-item-1 {}
}


@media (max-width: 600px) {
    .flexbox-item-2 {}
}