@import url('https://rsms.me/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter";

}

/* Grid to split form and image */
.grid-container {
    display: grid;
    grid-template-columns: 55% auto;
}

.FoodImage {
    height: 100%;
    width: 50vw;
}

/* Flexbox for form */
.flexbox-container {
    display: flex;
    flex-direction: column;
}

.flexboxRow-container {
    display: flex;
    flex-direction: row;
}

.BF {
    /* BF */


    width: 60px;
    height: 58px;
    margin-top: 10%;
    margin-bottom: 3%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.Login {
    /* Login */


    width: 154px;
    height: 48px;
    margin-bottom: 5%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.LoginImageIcon {
    width: 3rem;
    height: 3rem;
}

.PasswordImageIcon {
    width: 3rem;
    height: 3rem;
}

.cont img,
.cont input {
    vertical-align: bottom;
}

.Input {
    border-width: 0px;
    border: none;
    outline: none;
    font-style: "Inter";
    font-size: 20px;
}

.Line {
    /* Line 2 */
    width: 418px;
    height: 0px;
    margin-left: 3.4rem;
    border: 1px solid #000000;
}

.Line2 {
    margin-top: 5%;
    height: 0px;
    width: 498px;
    margin-bottom: 5%;
    border: 1px solid rgba(177, 168, 168, 0.75);
}

.ForgotPassword {
    /* Forget Password? */
    margin-top: 5%;
    margin-left: 350px;
    width: 134px;
    height: 27px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    color: rgba(0, 0, 0, 0.6);
}

.LoginBox {
    margin-top: 5%;
    box-sizing: border-box;
    width: 493px;
    height: 63px;

    background: #704232;
    border: 1px solid #000000;
    box-shadow: 1px 7px 4px -2px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

.LoginBoxText {

    margin-top: 5%;
    width: 87px;
    height: 39px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */


    color: #FFFFFF;

}

.Line2Box {
    /* Rectangle 4 */


    box-sizing: border-box;
    width: 34px;
    height: 34px;
    padding-top: -5%;
    background: #FFFFFF;
    border: 0.5px solid #B1A8A8;
    border-radius: 4px;
    text-align: center;
}

.socialMediaIcon1 {
    width: 3rem;
    height: 3rem;
}
.socialMediaIcon2 {
    width: 3rem;
    height: 3rem;
}
.socialMediaIcon3 {
    width: 3rem;
    height: 3rem;
}

.SocialMediaIconsSpacing {
    margin-left: 160px;
}

.SocialMediaIconsSpacingBetween {
    margin-left: 20px;
}

.NeedAnAccount {
    /* Need an Account? */
    margin-top: 5%;
    margin-left: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.SignUp {
    /* SignUp */
    margin-left: 120px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;

    color: #42063F;

}

.SignLoginDiv {
    margin-top: 5%;
}

/* 500% zoom and 400% zoom share a layout */
@media only screen and (max-width: 600px) {
    .BF,.Login,.Input,.NeedAnAccount,.SignUp,.ForgotPassword {
        font-size: 12px;
    }
    .LoginImageIcon,.PasswordImageIcon {
        width: 1rem;
        height: 1rem;
    }
    .Line,.Line2 {
        margin-left: 1.3rem;
        width: 180px;
    }
    .SocialMediaIconsSpacing, .SocialMediaIconsSpacingBetween {
        margin-left:80px;
    }
    .flexboxRow-container {
        flex-direction: column;
    }
    .socialMediaIcon1 {
        
    }
    .socialMediaIcon2 {
    }
}

/* 300% zoom */
@media only screen and (min-width: 600px) {}

/* 250% 200% */
@media only screen and (min-width: 768px) {}

/* 175% */
@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}