* {
	box-sizing: border-box;
}

body {
	position: relative;
	height: 100%;
	background: #FFFFFF;
}

/* Style the header */
.header {

	box-sizing: border-box;
	width: 100%;
	height: 5rem;
	position: absolute;
	background: #FCFCFC;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

/* Create three unequal columns that floats next to each other */
.column {
	float: left;
	margin-left: auto;
	padding: 10px;
}

.column.side2 {
	width: 33%;
}

/* Middle column */
.column.middle2 {
	width: 33%;
} 
/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Style the footer */
.footer {
	background-color: #f1f1f1;
	padding: 10px;
	text-align: center;
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.rounded-lg {
	border-radius: 1rem !important;
}

.text-small {
	font-size: 0.9rem !important;
}

.custom-separator {
	width: 5rem;
	height: 6px;
	border-radius: 1rem;
}

.text-uppercase {
	letter-spacing: 0.2em;
}

html, body {
	max-width: 100%;
	overflow-x: hidden;
}

#dhImage {
	position: relative;
	margin-left: 50px;
	width: 54px;
	height: 54px;
	background: url(273520304_108496788428018_6);
    margin-left: 10%;
}

#LoginButton {
	position: relative;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	margin-left: 70%;
	width: 80px;
	color: #000000;
}

#RegisterButton {
	position: relative;
	width: 80px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
}

#pizzaImage {
	position: relative;
	width: 40%;
	background: url(image-LP-1.png);
	transform: rotate(-10deg);
	height: 800px;

}

.section1Text
{
	display: flex;
	position: relative;
	padding-left: 10%;
}

.section1TextRight {
	position: relative;
}

.section1CheckMarkRight {
	position: relative;
}

.section1CheckMarkText {
	position: relative;
}

#DownloadAppText {
	position: relative;
}

#GoogleButton {
	position: relative;
	border: none;
}

#AppleButton {
	position: relative;
	border: none;
}

/* Section2 */
.section2Bg {
	position: relative;
	margin-top: 5%;
	height: 600px;
	width: 100%;
	background: #D9D9D9;
	opacity: 0.2;
} 

.section3Bg {
	position: relative;
	margin-top: 20%;
	height: 36rem;
	background: #ffffff;
	width: 100%;
} 

#BasicPricing {
	box-sizing: border-box;

	/* Auto layout */

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;

	width: 21rem;
	height: 44.88rem;

	border: 0.06rem solid #FFBA08;
	border-radius: 0.72rem;

	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}

#BasicPricingTop {
	/* Rectangle 6 */
	width: 21rem;
	height: 0.72rem;

	background: #FFBA08;
	border-radius: 0.72rem 0.72rem 0px 0px;

	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}

#BasicPricingBorder {
	/* Frame 17 */
	/* Auto layout */

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px 32px;

	width: 21rem;
	height: 44.16rem;


	/* Inside auto layout */

	flex: none;
	order: 1;
	flex-grow: 0;
}

#BasicBorder2 {
	/* Frame 7 */
	/* Auto layout */

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1.92rem 0px 1.44rem;

	width: 17.16rem;
	height: 14.34rem;


	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}

#BasicTitle {
	/* Frame 5 */
	/* Auto layout */

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px 0px 0.96rem;
	gap: 0.48rem;

	width: 17.16rem;
	height: 5.1rem;


	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}

#BasicTag {
/* Title 2 */
/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 0.6rem;

width: 5.04rem;
height: 2.34rem;
/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
/* Title 2 */


width: 5.04rem;
height: 2.34rem;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;
/* identical to box height */

text-align: center;

color: #222222;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

#BasicParagraph {
	/* Paragraph */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 17.16rem;
height: 1.32rem;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;

/* Paragraph */


width: 99px;
height: 22px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* identical to box height */

text-align: center;

color: #575757;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

#BasicFreeBorder {
	/* Frame 6 */


/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 16px;

width: 286px;
height: 98px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

#Basic0Dollars {
	/* Title 3 */
/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 52px;
height: 48px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

width: 52px;
height: 48px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 48px;
text-align: center;

color: #222222;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

/* Final Video Styles */
.flexbox-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexbox-item {
    width: 200px;
    margin: 10px;
}

.flexbox-item-1 {
    flex: 1 0 0;
    min-height: 25%;
    flex-shrink: 0;
    order: 3;
}

.flexbox-item-2 {
    min-height: 25%;
    flex-grow: 1;
    flex-basis: 0;
    order: 1;
}

.flexbox-item-3 {
    min-height: 50%;
    flex-grow: 1;
    flex-basis: 0;
    order: 2;
}




/* Background Styles */
html {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flexbox-item-1 {
    min-height: 100px;
	justify-content: center;
}

.flexbox-item-2 {
    min-height: 100px;
	justify-content: center;
}

.flexbox-item-3 {
    min-height: 300px;
	justify-content: center;
}

.flexbox-container {
    position: relative;
}

.flexbox-container::before {
    position: absolute;
    top: -40px;
    font-size: 2em;
}

.axis {
    position: absolute;
}

.cross-axis {
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 100%;
}

.main-axis {
    top: 50%;
    transform: translateY(-50%);
    height: 5px;
    width: 100%;
}

.axis::after {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 2em;
}

.main-axis::after {
    position: absolute;
}

.cross-axis::after {
    white-space: nowrap;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.flexbox-item {
    position: relative;
    width: 200px;
    margin: 10px;
    display: flex;
}

.flexbox-item::before {
    position: absolute;
    font-size: 25px;
    top: 10px;
    left: 15px;
}

.flexbox-item::after {
    position: absolute;
    font-size: 25px;
    top: 10px;
    right: 15px;
}

/* .flexbox-item-1::after {
    content: '1';
}

.flexbox-item-2::after {
    content: '2';
}

.flexbox-item-3::after {
    content: '3';
}

.flexbox-item-4::after {
    content: '4';
}

.flexbox-item-5::after {
    content: '5';
}

.flexbox-item-6::after {
    content: '6';
} */

.header {
	overflow: hidden;
	background-color: #f1f1f1;
	padding: 20px 10px;
  }
  
  /* Style the header links */
  .header a {
	float: left;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
	font-size: 25px;
	font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
	background-color: #ddd;
	color: black;
  }
  
  /* Style the active/current link*/
  .header a.active {
	background-color: dodgerblue;
	color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
	float: right;
  }
  
  .columns {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
  }
  
  .column {
	flex: 33.33%;
  }
/* At frame 6 in basic */
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
	.column.side, .column.middle {
		width: 100%;
	}

}